CarRentalSystemApp.WinUI/Service References/AracServiceReference/AracService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AracService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62639/AracService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62639/AracService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62639/AracService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CarRentalSystemApp.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAracService_Listele_InputMessage">
    <wsdl:part name="parameters" element="tns:Listele" />
  </wsdl:message>
  <wsdl:message name="IAracService_Listele_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListeleResponse" />
  </wsdl:message>
  <wsdl:message name="IAracService_Ekle_InputMessage">
    <wsdl:part name="parameters" element="tns:Ekle" />
  </wsdl:message>
  <wsdl:message name="IAracService_Ekle_OutputMessage">
    <wsdl:part name="parameters" element="tns:EkleResponse" />
  </wsdl:message>
  <wsdl:message name="IAracService_Güncelle_InputMessage">
    <wsdl:part name="parameters" element="tns:Güncelle" />
  </wsdl:message>
  <wsdl:message name="IAracService_Güncelle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GüncelleResponse" />
  </wsdl:message>
  <wsdl:message name="IAracService_Sil_InputMessage">
    <wsdl:part name="parameters" element="tns:Sil" />
  </wsdl:message>
  <wsdl:message name="IAracService_Sil_OutputMessage">
    <wsdl:part name="parameters" element="tns:SilResponse" />
  </wsdl:message>
  <wsdl:portType name="IAracService">
    <wsdl:operation name="Listele">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBaseOf_AraclarDTO/Listele" message="tns:IAracService_Listele_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBaseOf_AraclarDTO/ListeleResponse" message="tns:IAracService_Listele_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ekle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBaseOf_AraclarDTO/Ekle" message="tns:IAracService_Ekle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBaseOf_AraclarDTO/EkleResponse" message="tns:IAracService_Ekle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Güncelle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBaseOf_AraclarDTO/Güncelle" message="tns:IAracService_Güncelle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBaseOf_AraclarDTO/GüncelleResponse" message="tns:IAracService_Güncelle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sil">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBaseOf_AraclarDTO/Sil" message="tns:IAracService_Sil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBaseOf_AraclarDTO/SilResponse" message="tns:IAracService_Sil_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAracService" type="tns:IAracService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listele">
      <soap:operation soapAction="http://tempuri.org/IServiceBaseOf_AraclarDTO/Listele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ekle">
      <soap:operation soapAction="http://tempuri.org/IServiceBaseOf_AraclarDTO/Ekle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Güncelle">
      <soap:operation soapAction="http://tempuri.org/IServiceBaseOf_AraclarDTO/Güncelle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sil">
      <soap:operation soapAction="http://tempuri.org/IServiceBaseOf_AraclarDTO/Sil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AracService">
    <wsdl:port name="BasicHttpBinding_IAracService" binding="tns:BasicHttpBinding_IAracService">
      <soap:address location="http://localhost:62639/AracService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>